﻿@model  Transportations.UI.Models.FilteredTransportationViewModel
@{
    ViewBag.Title = "Transportations";
}

<div class="row">
    <div class="form-horizontal">
        @using (Ajax.BeginForm("Search", "Home", new AjaxOptions { UpdateTargetId = "transData", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, new { name = "searchForm", id = "searchForm" }))
            {
            <div class="col-lg-2">
                <input type="text" name="Month" value="" placeholder="Month Number" />
            </div>
            <div class="col-lg-2">
                Company<br />
                @foreach (var comName in Model.Companies.Distinct().OrderBy(name => name))
                {
                    <input type="checkbox" name="Company" value="@comName" />
                    <span>@comName</span><br />
                }
            </div>
            <div class="col-lg-2">
                Customers<br />
                @foreach (var comName in Model.Customers.Distinct().OrderBy(name => name))
                {
                    <input type="checkbox" name="Customer" value="@comName" />
                    <span>@comName</span><br />
                }
            </div>
            <div class="col-lg-2">
                Sender City <br />
                @foreach (var comName in Model.CitySenders.Distinct().OrderBy(name => name))
                {
                    <input type="checkbox" name="CitySender" value="@comName" />
                    <span>@comName</span><br />
                }
            </div>
            <div class="col-lg-2">
                Target City<br />
                @foreach (var comName in Model.CityTargets.Distinct().OrderBy(name => name))
                {
                    <input type="checkbox" name="CityTarget" value="@comName" />
                        <span>@comName</span><br />
                }
            </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
        }
    </div>
</div>
<div style="overflow-x:auto;" id="transData">
    @{Html.RenderAction("Search", "Home");}
</div>