﻿@model  List<Transportations.UI.Models.TransportationViewModel>

<table id="transportations">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Month
            </th>
            <th>
                Year
            </th>
            <th>
                City Sender
            </th>
            <th>
                City Target
            </th>
            <th>
                Customer
            </th>
            <th>
                Company
            </th>
            <th>
                Planned Transportation
            </th>
            <th>
                Actual Transportation
            </th>
            @for (int dayNumber = 1; dayNumber < 32; dayNumber++)
            {
                <th>
                    Day @dayNumber
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var transportation in Model)
            {
            <tr>
                <td>
                    @transportation.ID
                </td>
                <td>
                    @transportation.Month
                </td>
                <td>
                    @transportation.Year
                </td>
                <td>
                    @transportation.CitySender
                </td>
                <td>
                    @transportation.CityTarget
                </td>
                <td>
                    @transportation.Customer
                </td>
                <td>
                    @transportation.Company
                </td>
                <td>
                    @transportation.PlannedTransportation
                </td>
                <td>
                    @transportation.ActualTransportation
                </td>
                <td>
                    @transportation.Day1
                </td>
                <td>
                    @transportation.Day2
                </td>
                <td>
                    @transportation.Day3
                </td>
                <td>
                    @transportation.Day4
                </td>
                <td>
                    @transportation.Day5
                </td>
                <td>
                    @transportation.Day6
                </td>
                <td>
                    @transportation.Day7
                </td>
                <td>
                    @transportation.Day8
                </td>
                <td>
                    @transportation.Day9
                </td>
                <td>
                    @transportation.Day10
                </td>
                <td>
                    @transportation.Day11
                </td>
                <td>
                    @transportation.Day12
                </td>
                <td>
                    @transportation.Day13
                </td>
                <td>
                    @transportation.Day14
                </td>
                <td>
                    @transportation.Day15
                </td>
                <td>
                    @transportation.Day16
                </td>
                <td>
                    @transportation.Day17
                </td>
                <td>
                    @transportation.Day18
                </td>
                <td>
                    @transportation.Day19
                </td>
                <td>
                    @transportation.Day20
                </td>
                <td>
                    @transportation.Day21
                </td>
                <td>
                    @transportation.Day22
                </td>
                <td>
                    @transportation.Day23
                </td>
                <td>
                    @transportation.Day24
                </td>
                <td>
                    @transportation.Day25
                </td>
                <td>
                    @transportation.Day26
                </td>
                <td>
                    @transportation.Day27
                </td>
                <td>
                    @transportation.Day28
                </td>
                <td>
                    @transportation.Day29
                </td>
                <td>
                    @transportation.Day30
                </td>
                <td>
                    @transportation.Day31
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#transportations').DataTable({
            "searching": false,
            "pageLength": 50,
            dom: 'Blfrtip',
            buttons: [{
                extend: 'excelHtml5',
                text: "Export to Excel"
            }
            ]
        });
    });
</script>