﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    border-collapse: collapse;
    width:100%
}

table, th, td {
    border: 1px solid black;
    text-align: left;
}

th {
    height: 50px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}